{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} - Samatakkay{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12 col-md-5">
            <img src="/uploads/media/{{ product.illustration }}" class="img-fluid" alt="{{ product.name }}">
        </div>
        <div class="col-12 col-md-7 my-auto">
            <h1>{{ product.name }}</h1>
            <p class="product-page-price">Prix: {{( product.price / 100)|number_format (2, ',', '.')}} €</p>
            <p>Composition : {{ product.composition }}</p>
            <hr>
            <p>Description : {{ product.description }}</p>
            <a class="btn btn-primary">Ajouter au panier</a>

        </div>
    </div>
    
{% endblock %}
