{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - samatakkay{% endblock %}

{% block content %}
<h1 class="title">Validation de ma commande</h1>
<p>Choisissez vos préferences avant de passer votre commande sur samatakkay</p>
<hr>
<div class="row">
    <div class="col-md-6 order-sm-2 order-md-1">

        {% set formHtml %}
            {{ form_start(form, {action:path('order_recap')}) }}
            {{ form_label(form.addresses, 'Choisissez votre adresse de livraison') }}
            <a href="{{ path('account_address_add') }}">Ajouter une nouvelle adresse</a>
            {{ form_end(form) }}
        {% endset %}

        {{ formHtml|replace({'[br]' : '<br>'})|raw }}

    </div>

    <div class="col-md-6 order-sm-1 order-md-2">
        <div class="text-center">
            <b>Récap de ma commande</b><br>
            <p>Retrouvez le récapitulatif de vos produits</p>
        </div>
        <div class="order-summary">
            {% for line in cart %}
            <div class="row">
                <div class="col-2 py-1">
                    <img src="/uploads/media/{{ line.product.illustration }}" alt="{{ line.product.name}}" height="50px">
                </div>
                <div class="col-8 my-auto">
                    {{ line.product.name }}<br>
                    x {{ line.quantity }}
                </div>    
                <div class="col-2 my-auto">
                     {{ (line.product.price * line.quantity / 100)|number_format (2, ',', '.')}} €
                </div>
                
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
